

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
Add some padding so that the navbar doesn't overwrite the content
*/
body { padding-top: 70px; }

/*
Move the Aside (sidebar) down a bit
*/
.sidebar,
aside {
    margin-top: 100px;
}

/*
* put some space round images entered in blogs with add media
*/
img.alignright {float:right !important; margin:0 0 1em 1em}
img.alignleft {float:left !important; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right !important; margin:0 0 1em 1em}
a img.alignleft {float:left !important; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}